api[] =
  target[] = "spanner.googleapis.com"
  target[] = "spanner.googleapis.com:443"
  channel_pool[max_size] = 10
  method[0][name] = "/google.spanner.v1.Spanner/CreateSession"
  method[0][affinity][command] = "BIND"
  method[0][affinity][affinity_key] = "name"

  method[1][name] = "/google.spanner.v1.Spanner/GetSession"
  method[1][affinity][command] = "BOUND"
  method[1][affinity][affinity_key] = "name"
